@use 'theme' as theme;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  font-family: 'Roboto', sans-serif;
  background-color: theme.$dracula-black;
}

#typography {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  gap: 10px;
  font-style: italic;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#gray {
  color: theme.$dracula-gray;
}

#white {
  color: theme.$dracula-white;
}

#blue {
  color: theme.$dracula-blue;
}

#cyan {
  color: theme.$dracula-cyan;
}

#green {
  color: theme.$dracula-green;
}

#orange {
  color: theme.$dracula-orange;
}

#pink {
  color: theme.$dracula-pink;
}

#purple {
  color: theme.$dracula-purple;
}

#red {
  color: theme.$dracula-red;
}

#yellow {
  color: theme.$dracula-yellow;
}
